<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Book Review</h1>
    <p class="lead font-weight-normal">この年代に読みたかった、
    読んでほしい本を紹介できるブックレビューサイトです。<br>
    年代別でおすすめの本を検索できます。</p>
  </div>
</div>
