<div class="rounded-circle">
<div class="card position-relative overflow-hidden p-0 p-md-0 m-md-0 text-center">
  <img src="/assets/bookstop.jpg" alt="カードの画像" >
  <div class="card-img-overlay col-md-5 p-lg-5 mx-auto my-5">
    <h5 class="display-1 font-weight-normal text-light">Book Review</h5>
    <p class="lead font-weight-normal text-light">人生を変える一冊に出会おう</p>
     <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
     <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-info", method: :post %>
     <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
</div>