<h1>BookReview</h1>
<p>人生を変える一冊に出逢おう</p>

<%= link_to 'ゲストログイン（閲覧用）', public_homes_guest_sign_in_path, method: :post %>

<li class="nav-item">
 <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
</li>
<li class="nav-item">
 <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
</li>