<div class="container">
  <div class="row">
    <div class="col-lg-8 pt-4 pb-3 mx-auto text-center">
      <h3><%= "#{@tag.tag_name}" %>におすすめの本です<i class="fa-solid fa-book-open"></i></h3>
    </div>
  </div>

<div class="h4 pb-2 mb-4 text-dark border-bottom border-dark">
  <%= render 'public/books/taglist', tag_list: @tag_list %>
</div>
<!--ブックレビュー一覧-->
  <div class="row">
    <% @reviews.each do |review| %>
    <div class="col-lg-2">
      <div class="card shadow">
        <%= link_to new_public_book_review_path(review.book) do %>
          <%= image_tag review.book.image_url,class:"card-img-top" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>
