@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.overlay-gray{
  height: 100vh;
  /* オーバーレイの色と画像の指定 */
  background-image: linear-gradient(rgba(0, 0, 0, .6),  rgba(0, 0, 0, .6)), url("../images/bookstop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.alert {
  margin-bottom: 0;
}

// フッターをページの最下部に固定する
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

.like_icon {
  font-size: 20px;
  color: red;
}

.unlike_icon {
  font-size: 20px;
  color: #696969;
}
// ホバー画像
.rakten-img {
	width:			280px;
	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;	/* 相対位置指定 */
}
.rakten-img .caption {
	font-size:		130%;
	text-align: 		center;
	padding-top:		80px;
	color:			#fff;
}
.rakten-img .mask {
	width:			100%;
	height:			100%;
	position:		absolute;	/* 絶対位置指定 */
	top:			0;
	left:			0;
	opacity:		0;	/* マスクを表示しない */
	background-color:	rgba(0,0,0,0.4);	/* マスクは半透明 */
	-webkit-transition:	all 0.2s ease;
	transition:		all 0.2s ease;
}
.rakten-img:hover .mask {
	opacity:		1;	/* マスクを表示する */
}