<!--ユーザー一覧（名前とemailが確認できる）-->
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="h3 pb-2 mb-4 mt-4 text-dark border-bottom border-dark">
       <p class="text-center"><strong>ユーザー一覧</strong></p>
      </div>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th scope="col">ユーザー名</th>
            <th scope="col">Eメール</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= link_to user.name,admin_user_path(user.id) %></td>
            <td><%= user.email %></td>
            <td><%= link_to "削除する",admin_user_path(user.id), class: "destroy-user", method: :delete, "data-confirm" => "本当に退会しますか？" %></td>
          </tr>
        </tbody>
        <% end %>
        <%= paginate @users %>
      </table>
    </div>
  </div>
</div>
