<div class="container">
<% tag_list.each do |list| %>
  <%= link_to tag_reviews_path(list.id),class:"btn btn-outline-secondary" do %>
    <i class="fa-solid fa-tag"></i><%= list.tag_name %>代
    <%= "(#{list.reviews.count})" %>
  <% end %>
<% end %>
</div>
<br>
