<br>
<%= render 'public/books/taglist', tag_list: @tag_list %>
<!--ブックレビュー一覧-->
<br>
<div class="container">
  <div class="row">
    <% @books.each do |book| %>
    <div class="col-lg-3">
      <div class="card shadow">
        <%= link_to new_public_book_review_path(book) do %>
          <%= image_tag book.image_url,class:"card-img-top" %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br>

