<footer>
  <div class='container-fluid pt-2 pb-2 bg-dark'>
  	<div class='row'>
    	<div class='mx-auto'>
    		<p class="text-light">©Book Review x 楽天api</p>
    	</div>
    </div>
  </div>
</footer>